:root{
    --prim: #9C27B0;
    --primOscuro: #89119D;
    --sec: #FFCE00;
    --secOscuro: rgb(233,287,2);
    --white: #fff;
    --black: #000;
}

/* globales */
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*:before, *::after{
    box-sizing: inherit;
}

body{
    background-color: var(--prim);
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.8rem;
    color: var(--white);
}

a{
    text-decoration: none;
}
img{
    width: 100%;
}
.container{
    max-width: 120rem;
    margin: 0 auto;
}
h1,h2,h3{
    text-align: center;
    color: var(--sec);
}

h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}


